:root {
  --color-primary: #ccff00; /* El verde neón de Invictus */
  --color-bg: #000000;
  --color-surface: #121212;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* Títulos y fuentes */
h1, h2, h3, h4, h5 {
  font-weight: 800;
  text-transform: uppercase;
}

/* Utilidad de texto primario */
.text-neon {
  color: var(--color-primary) !important;
}

.bg-surface {
  background-color: var(--color-surface);
}

/* Botones Personalizados */
.btn-neon {
  background-color: var(--color-primary);
  color: #000;
  font-weight: bold;
  border: none;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(204, 255, 0, 0.4);
}

.btn-neon:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(204, 255, 0, 0.8);
}

.btn-outline-neon {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: bold;
  padding: 10px 25px;
  text-transform: uppercase;
}

.btn-outline-neon:hover {
  background-color: var(--color-primary);
  color: #000;
}

/* Navbar */
.navbar-custom {
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #333;
}

/* Cards (Tarjetas) */
.card-dark {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white;
  transition: transform 0.3s;
}

.card-dark:hover {
  border-color: var(--color-primary);
  transform: translateY(-5px);
}